# kdiff3 ignore
*.orig

# Compiled class file
*.class

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
/.idea
.DS_Store
Thumbs.db


# package ignore (optional)
*.war
# *.jar
# *.zip
# *.tar
# *.tar.gz

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

